/* VARIABLES */
:root {
  --color-principal-fondo: black;
}
/* HEADER */
header {
  background-color: var(--color-principal-fondo);
}
.titulo {
  color: white;
  text-align: center;
  font-weight: 500;
 
}
.titulo > img{
   height: 100px;
}
.fcc-btn {
  position: absolute;
  top: 60%;
  left: 10%;
  border-radius: 25%;
  height: 50px;
  background-color: #36F683;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.fcc-btn:hover {
  background-color: black;
  color: white;
  border-width: 3px;
}

/* BARRA DE NAVEGACION*/
/* header{
  display: block;
  position: fixed;
} */

.img-fluid-logo{
  height: 50px;
}

.barraNavegacion{
  margin: 0 auto;
  background-color: var(--color-principal-fondo);
}
.barraNavegacion ul{
  text-align: center; 
  list-style: none;
  margin: 0;
}
.barraNavegacion ul li{
  display: inline-block;
}
.barraNavegacion ul li a{
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 10px;
  font-weight: 800;
}
.barraNavegacion ul li a:hover{
  background-color: white;
  color: black;
  text-transform: uppercase;
}

.barraNavegacion > li {
  float: left;
}

.barraNavegacion li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.barraNavegacion li:hover > ul{
  display: inline-block;
  padding: 5px 10px;
  width: 120px;
  height: 150px;
  border: 1px solid black;
  color: black;
  background-color: black;
}

/* .divHome > button{
  position: absolute;
  top: 60%;
  left: 10%;
  border-radius: 25%;
  height: 60px;
  background-color: #36F683;
  color: black;
  font-weight: bold;
  
}
.divHome > button:hover{
  border-color: #36F683;
  border-width: 3px;

} */

.card {
  border-color: black;
}

.divHome{
  width: 100%;
  height: 600px;
  background-image: url("../multimedia/home/Home.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  /*BOTON*/
  
}
.seccionCategorias > h1{
  text-align: center;
  justify-content: center;
  font-weight: bold;
}
.seccionCategorias > div{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.marcas > h1{
  text-align: center;
  justify-content: center;
  font-weight: bold;
}

.seccionEnvioPagoDevolucion{
  text-align: center;
}
.seccionEnvioPagoDevolucion > div > i {
  color: #36F683;
  font-size: 70px;
}
.seccionEnvioPagoDevolucion > div > p{
  font-size: 25px;
  font-weight: bold;
}

/* FOOTER */
footer ul{
  list-style: none;
  text-decoration: none;
}

.icono{
  display: inline;
}
footer {
  background-color: var(--color-principal-fondo);
  color: white;
}


.img-marcas {
  width: 150px;
  height: 150px;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	border:10px solid #ffffff;
	border-bottom:0px
}
